<!DOCTYPE html>
<html>
<%- include('partials/head', {title: 'Inicio' }) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <form action="/products/update/<%= resProducto.idProducto %>?_method=PUT" name="formRegistrar"
                    method="post" enctype="multipart/form-data">
                    <section id="formulario">
                        <h2 class="block"> EDITAR PRODUCTO</h2>
                        <div class="columna col100">
                            <input type="text" minlength="2" value="<%= resProducto.nombreProducto %>" required
                                name="nombre" placeholder="nombre producto (*)" title="nombre producto" />
                        </div>
                        <div class="columna col100">
                            <textarea required name="descripcion"><%= resProducto.descripcion %></textarea>
                        </div>
                        <div class="columna">
                            <input type="number" value="<%= resProducto.precio %>" minlength="2" required name="precio"
                                placeholder="valor en pesos (*)" title="valor del producto" />
                        </div>
                        <div class="columna">
                            <input type="number" minlength="2" required name="descuento" value="<%= resProducto.descuento %>"
                                placeholder="descuento (*)" title="Descuento" />
                        </div>

                        <%  resProducto.talle.forEach( function( tt ){ %>
                            <div class="columna">

                                    <input type="number" value="<%= tt.productotalle.cantidad %>"
                                        minlength="2" name="cantidad[<%= tt.productotalle.fkTalle %>]"
                                        placeholder="cantidad talle <%= tt.talle %> (*)"
                                        title="cantidad de producto talle <%= tt.talle %>" />  
                            </div>
                            <%  }) %>

                                <div class="columna">
                                    <select name="person" required>
                                        <option value="">tipos de personas</option>
                                        <% alltp.forEach( function( tp ){ %>
                                            <option value="<%= tp.idtipo %>"
                                                <%= (tp.idtipo == resProducto.tipopersona.idtipo)? "selected" :""; %>>
                                                <%= tp.persona %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                                <div class="columna">
                                    <select name="categoria" required>
                                        <option value="">Categorías productos</option>

                                        <% allcats.forEach( function( categoria ){ %>
                                        
                                            <option value="<%= categoria.idcategoria %>"
                                                <%= (categoria.idcategoria == resProducto.categoria.idcategoria)? "selected" :""; %>>
                                                <%= categoria.categoria %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>


                                <div class="columna-100">
                                    <div class="columna">
                                        <img src="/images/articulos/<%= resProducto.imagen; %>" width="60" alt="" />
                                    </div>


                                    <input type="file" required name="foto" />

                                </div>

                                <div class="columna-100">
                                    <input type="submit" value="Enviar" title="¿Listo?" />

                                    <input type="reset" value="Cancelar" />
                                </div>

                    </section>
                </form>

            </main>

            <%- include('partials/footer') %>

    </body>

</html>