<!DOCTYPE html>

<html>

<%- include('partials/head', {title: 'Inicio' }) %>

    <body>

        <%- include('partials/header') %>

            <main>

                <section id="banner">
                    <div id="contBanner">


                        <div class="slideshow-container">

                            <div class="mySlides fade">
                                <div class="numbertext">1 / 4</div>
                                <img src="/images/banner/banner1.jpg" style="width:100%">
                                <div class="text"></div>
                            </div>

                            <div class="mySlides fade">
                                <div class="numbertext">2 / 4</div>
                                <img src="/images/banner/banner4.jpg" title="2" style="width:100%">
                                <div class="text"></div>
                            </div>

                            <div class="mySlides fade">
                                <div class="numbertext">3 / 4</div>
                                <img src="/images/banner/banner3.jpg" title="3" style="width:100%">
                                <div class="text"></div>
                            </div>

                            <div class="mySlides fade">
                                <div class="numbertext">4 / 4</div>
                                <img src="/images/banner/BANNER2.jpg" title="4" style="width:100%">
                                <div class="text"></div>
                            </div>

                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <br>

                        <div style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                            <span class="dot" onclick="currentSlide(4)"></span>
                        </div>

                    </div>

                </section>

                <section id="destacados">
                    <h2 class="block"><i class="fas fa-gifts"></i> ofertas </h2>

                    <% productos.forEach( function( product ){ %>
                        <article>
                            <div class="artImg">
                                <a href="/products/detail/<%= product.idProducto; %>">
                                    <img src="/images/articulos/<%= product.imagen; %>" alt="banner 1" />
                            </div>
                            <div class="artTitulo hvr-bounce-to-top">
                                <strong>
                                    <%= product.nombreProducto; %>
                                </strong>
                            </div>
                            <div class="artPrecio">
                                <p>
                                    <%= product.precio; %>
                                </p>
                            </div>
                            </a>
                        </article>

                        <% }) %>


                </section>

                <section id="secciones">

                    <h2 class="block">¿Para quién compras? </h2>

                    <article class="hvr-shrink">
                        <a href="/products/people/mujeres">
                            <div class="artImg">
                                <img src="/images/categorias/m.jpg" alt="Mujeres" />
                            </div>
                        </a>

                    </article>

                    <article class="hvr-shrink">
                        <a href="/products/people/hombres">
                            <div class="artImg">
                                <img src="/images/categorias/h.jpg" alt="Hombres" />
                            </div>
                        </a>

                    </article>

                    <article class="hvr-shrink">
                        <a href="/products/people/niños">

                            <div class="artImg">
                                <img src="/images/categorias/n.jpg" alt="Niños" />
                            </div>
                        </a>

                    </article>

                </section>


            </main>
            <%- include('partials/footer') %>

    </body>

</html>