<!DOCTYPE html>
<html lang="es">

	<%- include('partials/head', {title: 'Inicio'}) %>

	<body>
	
	<%- include('partials/header') %>
	<main>


		<% if(productsCategory.length>0){ %>
			<section id="destacados">
				<h2 class="block"> artículos para  <%= person; %> </h2>
	
				<% productsCategory.forEach( function( product ){ %>
					<article>
						<div class="artImg">
							<a href="/products/detail/<%= product.id; %>">
								<img src="/images/articulos/<%= product.image[0]; %>" alt="banner 1" />
							</div>
							<div class="artTitulo">
								<strong>
									<%= product.name; %>
								</strong>
							</div>
							<div class="artPrecio">
								<p>
									<%= product.price; %>
								</p>
							</div>
							</a>
					</article>
		
					<% }) %>
	
			</section>
		
			<% } else { %>
				<section id="destacados">
					<h2 class="block">:( lo sentimos, no encontramos artículos para  <%= person; %></h2>
				</section>
				
			<% } %>
	
	</main>

	<%- include('partials/footer') %>
</body>	
</html>