<!DOCTYPE html>

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>

            <main>


                <section id="productDetail">



                    <article class="compras">

                        <div class="cont1">
                            <div class="artImg">
        
                                <div class="slideshow-container">
        
                                   
                                        <div class="mySlides fade">
                                            <img src="/images/articulos/<%= resultado.imagen %>" style="width:100%">
                                            <div class="text"></div>
                                        </div>
        
                            
                                </div>
                                <br>
        
                                
        
                            </div>
            
        
                            </div>
        
                        </div>


                        <div class="cont1">
                            <div class="artInfo">
                                <h3>
                                    <%= resultado.nombreProducto %>
                                </h3>

                                <h3>
                                    $ <%= resultado.precio %>
                                </h3>

                                <p>
                                    <%= " Para: " + resultado.tipopersona.persona + " | Categoría: "  + resultado.categoria.categoria +" | Talle: " + resultado.talle[0].talle  +""   %>

                                <br>

                        <p>
                            <%= resultado.descripcion %>

                        </p>

                        <div class=" agregarCart">

                            <form action="./" method="get">
                                <select name="cantidProductoad">
                                    <option value="1">Cant.: 1</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>

                                <select name="talle">
                                    <option value="">TALLES</option>
                                    <option value="Small">S</option>
                                    <option value="Medium">M</option>
                                    <option value="Large">L</option>
                                </select>

                                <input type="submit" class="hvr-shrink" value="Agregar al carrito">


                            </form>

                            <br>
                            <a href="/products/edit/<%= resultado.idProducto %>"
                                class="aBtn success hvr-shrink"> <i class="fas fa-edit"></i> editar</a>
                            <a href="/products/add" class="aBtn success hvr-shrink"> <i
                                    class="fas fa-edit"></i> Nuevo</a>

                            <form action="/products/delete/<%= resultado.idProducto %>?_method=DELETE"
                                method="POST" style="display: inline-flex">
                                <button type="submit" class="aBtn danger hvr-shrink"><i
                                        class="fas fa-trash"></i> elminar</button>
                            </form>





                </div>

                    </div>
                        </div>
                        



                    </article>


                </section>



            </main>

            <%- include('partials/footer') %>

    </body>