<!DOCTYPE html>
<html lang="es">

	<%- include('partials/head', {title: 'Inicio'}) %>

	<body>
	
	<%- include('partials/header') %>
	<main>

				<section id="destacados">
					
					<h2 class="block">MI PERFIL</h2>

					
						<div class="artImg">
							
								<img src="/images/users/<%= resultado.foto; %>" />
							</div>
							<div class="datosUsuario">
								<strong>
									<%= resultado.nombre; %>
								</strong>
								<p>
									<%= resultado.apellido; %>
								</p>
                                <p>
									<%= resultado.correo; %>
								</p>
                                <p>
									<%= resultado.fechaNac; %>
								</p>
                                <p>
									<%= (resultado.hombre==0)?"Mujer":"Hombre"; %>
								</p>

								<p>
									<a href="/users/edit/<%= resultado.idUsuario; %>" class="aBtn success hvr-shrink">Editar</a> 
									<p>
										 
										<form action="/users/profile/<%= resultado.idUsuario %>/delete?_method=DELETE"
											method="POST" style="display: inline-flex">
											<button type="submit" class="aBtn danger hvr-shrink"><i
													class="fas fa-trash"></i> elminar</button>
										
									</p>
								</div>
									<a href="#" class="aBtn success hvr-shrink"> + Nuevo Usuario</a>
								</p>
							</div>
						
                    

				</section>
				
			
	
	</main>

	<%- include('partials/footer') %>
</body>	
</html>