<!DOCTYPE html>
<html lang="es">

	<%- include('partials/head', {title: 'Inicio'}) %>

	<body>
	
	<%- include('partials/header') %>
	<main>


		<% if(productos.length>0){ %>
			<section id="destacados">
				<h2 class="block"> Resultado de la búsqueda para:  <%= buscar; %> </h2>
	
				<% productos.forEach( function( product ){ %>
					<article>
						<div class="artImg">
							<a href="/products/detail/<%= product.idProducto; %>">
								<img src="/images/articulos/<%= product.imagen; %>" alt="banner 1" />
						</div>
						<div class="artTitulo hvr-bounce-to-top">
							<strong>
								<%= product.nombreProducto; %>
							</strong>
						</div>
						<div class="artPrecio">
							<p>
								<%= product.precio; %>
							</p>
						</div>
						</a>
					</article>
		
					<% }) %>
	
			</section>
		
			
	
	</main>

	<%- include('partials/footer') %>
</body>	
</html>