<!DOCTYPE html>
<html lang="es">

	<%- include('partials/head', {title: 'Inicio'}) %>

	<body>
	
	<%- include('partials/header') %>
	<main>

	<section id="destacados">
				<h2 class="block">usuarios</h2>
	
				<% usuarios.forEach( function( user ){ %>
				
                    <article>
						<div class="artImg">
							<a href="/users/profile/<%= user.idUsuario; %>">
								<img src="/images/users/<%= user.foto; %>" />
							</div>
							<div class="artTitulo">
								<strong>
									<%= user.nombre; %>
								</strong>
							</div>
							<div class="artPrecio">
								<p>
									<%= user.apellido; %>
								</p>
                                <p>
									<%= user.correo; %>
								</p>
                                <p>
									<%= user.fechaNac; %>
								</p>
                                <p>
									<%= (user.hombre==0)?"Mujer":"Hombre"; %>
								</p>
							</div>
							</a>
					</article>
		
					<% }) %>
	
			</section>
		
	
	</main>

	<%- include('partials/footer') %>
</body>	
</html>